[submodule "superopt"]
	path = superopt
	url = ../../bsorav/superopt
[submodule "superoptdbs"]
	path = superoptdbs
	url = ../../bsorav/superoptdbs
[submodule "llvm-project"]
	path = llvm-project
	url = ../../bsorav/llvm-project2
[submodule "superopt-tests"]
	path = superopt-tests
	url = ../../compilerai/superopt-tests
[submodule "compiler.ai-scripts/compiler-explorer"]
	path = compiler.ai-scripts/compiler-explorer
	url = ../../bsorav/compiler-explorer
