[submodule "superopt"]
	path = superopt
	url = ./superopt
[submodule "superoptdbs"]
	path = superoptdbs
	url = ./superoptdbs
[submodule "llvm-project"]
	path = llvm-project
	url = ./llvm-project
[submodule "superopt-tests"]
	path = superopt-tests
	url = ./superopt-tests
#[submodule "compiler.ai-scripts/compiler-explorer"]
#	path = compiler.ai-scripts/compiler-explorer
#	url = ../superopt-project/compiler-explorer
